$prim1-color: rgba(251, 229, 229, .98);
$prim2-color: rgba(173, 57, 57, .68);
$sec1-color: rgba(245, 244, 157, .96);
$sec2-color: rgba(166, 165, 73, .65);
$sec3-color: rgba(217, 240, 255, 1);

/* Breakpoint variables and media queries */
$breakpoint-medium: 768px;
$breakpoint-larg: 992px;

ul, ol {
    list-style-position: inside;
}

@mixin small-screen {
    @media (width <= $breakpoint-medium) {
        @content;
    }
}
@mixin medium-screen {
    @media (width > $breakpoint-medium) and (width <= $breakpoint-larg) {
        @content;
    }
}
@mixin large-screen {
    @media (width > $breakpoint-larg) {
        @content;
    }
}
