.linkedin {
    $color1: rgba(255, 255, 255, 1);
    $color2: rgba(0,0,0,1);
    $color3: rgba(244, 242, 238, 1);
    $colorLogo: rgba(0, 119, 181, 1);
    $darkgrey: rgba(49, 51, 53, 1);
    $mediumgrey: rgba(134, 136,138, 1);
    $lightgrey: rgba(202, 204, 206, 1);

    background-color: $color3;
}