@import "../template.scss";

.page {
    display: flex;
    flex-direction: column;
    background-color: $sec2-color;
    width: 598px;
    height: 842px;
    position: relative;
    margin: 1rem{
        top: 70px;
    };
    border: 1px dotted $sec2-color;
    // padding: 1rem;
    gap: 1rem;

    .settings {
        width: 43px;
        border: solid 0.7px $sec2-color;
        font-size: 10px;
        position: absolute;
        top: 0;
        right: -45px;
    }

    .navbar-element {
        min-height: 40px;
        display: null;
    };
    .taskbar-element {
        min-height: 40px;
        position: absolute;
        bottom: 0;
        display: null;
    };
    .content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        min-height: 100%;
        padding: {
            right: 15px;
            left: 15px;
        }

        .content-side, .content-main {
            display: flex;
            flex-direction: column;
        }
        &, .content-side, .content-main {
            gap: 10px;
        }
        .box {
            display: flex;
            min-height: 50px;
        }
        .box-container {
            display: block;
            min-width: 100%;
            min-height: 100%;
        }
    }
}