@import '../template.scss';

.edit-bar-container {
    background-color: $sec3-color;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 1rem{
        top: 70px;
    };
    @include small-screen {
        width: 100px;
    }
    @include medium-screen {
        width: 200px;
    }
    @include large-screen {
        width: 300px;
    }

    .select-style, label {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .element-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: {
            top: 1rem;
            bottom: 1rem;
        };
    }
}